// 用于配置常用的 CSS 变量

//主要颜色
$primary-color:#73C9B3;
//二级颜色
$secondary-color:#FCAB32;
//三级颜色
$tertiary-color:'';

//主要文字颜色
$primary-text-color:#333333;
//二级文字颜色
$secondary-text-color:#666666;
//三级文字颜色
$tertiary-text-color:#9B9B9B;

//主要按钮颜色
$primary-button-color:$primary-color;
//二级按钮颜色
$secondary-button-color:$secondary-color;
//三级按钮颜色
$tertiary-button-color:'';

//不可点击时按钮颜色
$button-disabled-color:rgba(141,153,161,1);

//border颜色
$border-color:#e5e5e5;
//placeholder颜色
$placeholder-color:rgba(155,155,155,0.6);
//容器背景颜色
$background-color:rgba(237,250,250,0.5);

// UI 字体
$font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica,
  'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

